@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Title styling */
.todo-container h1 {
    font-family: "Lobster", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 50px;
}

/* Input styling */
.todo-container input[type="text"] {
    font-family: "Poppins", sans-serif;
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button styling */
.todo-container button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.todo-container button:hover {
    background-color: #218838;
}

/* Todo list styling */
.todo-container ul {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    padding: 0;
}

.todo-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.todo-container li input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-container li button {
    margin-left: 10px;
}

.todo-container li button.edit {
    background-color: #007bff;
}

.todo-container li button.edit:hover {
    background-color: #0056b3;
}

.todo-container li button.delete {
    background-color: #dc3545;
}

.todo-container li button.delete:hover {
    background-color: #c82333;
}


.logo {
    position: absolute;
    width: 100px;
}